@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.btn-primary {
    background: #FF900E;
    color: #FFF;
    padding: 20px 30px;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:hover {
    color: #131313;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 20px 200px;
}

/* nav styles */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    font-size: 1rem;
    font-weight: 600;
    line-height: 26px;
    padding: 0 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li a {
    color: #424242;
    text-decoration: none;
}

/* banner styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 20px;
}

.banner-info {
    color: #727272;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.banner-img {
    width: 100%;
    margin-top: 50px;
}

/* feature styles */

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 240px;
}

.feature-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.feature-img {
    width: 280px;
}

.feature-content {
    margin-left: 60px;
}

.feature-title {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-weight: 700;
}

.feature-info {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0 30px 0;
}

/* responsive styles */

/* small devices */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .nav-bar {
        flex-direction: column;
    }

    nav ul {
        padding-top: 20px;
    }
}

/* medium devices */

@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 40px;
    }

    .nav-bar {
        flex-direction: column;
    }

    nav ul {
        padding-top: 20px;
    }
}